In [1]:
''' 

[키워드 입력시 국내주식 중 관계가 가장 높은 종목 찾기]
    # 특정 키워드의 Google Trend 추이와 종목별 주가 추이와의 상관관계 분석
  
     >> 유의사항 : 아래 본인의 구글계정을 입력하고 실행하세요.
     
'''

import pandas as pd
import pandas_datareader.data as web
from datetime import datetime
import numpy as np
import random
import time

# 키워드 입력 : 사드, 금리, 유가, 코스피, 미세먼지, 문재인 등
keyword='사드'

# 검색 기간입력 (2017년 1월 1일~)
time_term = '2017-01-01 2017-05-21'
start = datetime(2017, 1, 1)
end   = datetime(2017, 5, 21)

# 구글계정 입력 
google_username = "****@gmail.com"
google_password = "****"

In [2]:
# 구글트렌드 데이터 가져오기
from pytrends.request import TrendReq
pytrend = TrendReq(google_username, google_password, custom_useragent='Python Trends Script')
pytrend.build_payload(kw_list=[keyword], timeframe=time_term)
interest_over_time_df = pytrend.interest_over_time()
interest_over_time_df.head()

            사드
date
2017-01-01   3
2017-01-02   6
2017-01-03   4
2017-01-04   6
2017-01-05   9

In [3]:
# 구글 국내주식 일자별가격 가져오기 (Sample : 종목 20개 -> 종목수 증대 Ver Update 필요)
kor_air = web.DataReader('KRX:003490','google',start,end)['Close']
kt = web.DataReader('KRX:030200','google',start,end)['Close']
lgchem = web.DataReader('KRX:051910','google',start,end)['Close']
samsung_el = web.DataReader('KRX:005930','google',start,end)['Close']
amoreg = web.DataReader('KRX:002790','google',start,end)['Close']
kbbank = web.DataReader('KRX:105560','google',start,end)['Close']
naver = web.DataReader('KRX:035420','google',start,end)['Close']
miraedw = web.DataReader('KRX:006800','google',start,end)['Close']
lotteshop = web.DataReader('KRX:023530','google',start,end)['Close']
soil = web.DataReader('KRX:010950','google',start,end)['Close']
ottogi = web.DataReader('KRX:007310','google',start,end)['Close']
kor_gas = web.DataReader('KRX:036460','google',start,end)['Close']
kia_car = web.DataReader('KRX:000270','google',start,end)['Close']
orion = web.DataReader('KRX:001800','google',start,end)['Close']
hana_finan = web.DataReader('KRX:086790','google',start,end)['Close']
posco = web.DataReader('KRX:005490','google',start,end)['Close']
emart = web.DataReader('KRX:139480','google',start,end)['Close']
wooribank = web.DataReader('KRX:000030','google',start,end)['Close']
samsung_secu = web.DataReader('KRX:016360','google',start,end)['Close']
isdongseo = web.DataReader('KRX:010780','google',start,end)['Close']

# 데이터 병합
data = pd.concat([interest_over_time_df,
                  kor_air,kt,lgchem,samsung_el,amoreg,
                  kbbank,naver,miraedw,lotteshop,soil,
                  ottogi,kor_gas,kia_car,orion,hana_finan,
                  posco,emart,wooribank,samsung_secu,isdongseo], axis=1)

# 컬럼 지정
data.columns = ['google_keyword',
                'kor_air','kt','lgchem','samsung_el','amoreg',
                'kbbank','naver','miraedw','lotteshop','soil',
                'ottogi','kor_gas','kia_car','orion','hana_finan',
                'posco','emart','wooribank','samsung_secu','isdongseo']

data.head()

,google_keyword,kor_air,kt,lgchem,samsung_el,amoreg,kbbank,naver,miraedw,lotteshop,...,ottogi,kor_gas,kia_car,orion,hana_finan,posco,emart,wooribank,samsung_secu,isdongseo
2017-01-01,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,6,26750.0,29650.0,253000.0,1805000.0,122500.0,42600.0,777000.0,7400.0,216500.0,...,653000.0,48300.0,39500.0,624000.0,30900.0,260500.0,180500.0,12600.0,31450.0,43800.0
2017-01-03,4,27100.0,29300.0,262000.0,1824000.0,126000.0,43700.0,767000.0,7670.0,215000.0,...,649000.0,47600.0,40750.0,622000.0,31450.0,256000.0,179500.0,12700.0,31800.0,42950.0
2017-01-04,6,27050.0,29300.0,268500.0,1808000.0,127000.0,44150.0,810000.0,7980.0,209500.0,...,643000.0,47850.0,41300.0,621000.0,32000.0,254500.0,179000.0,12700.0,32450.0,42100.0
2017-01-05,9,27400.0,29200.0,267500.0,1778000.0,126000.0,42800.0,791000.0,8030.0,213500.0,...,644000.0,47200.0,41100.0,633000.0,31600.0,247500.0,186500.0,12300.0,32650.0,42900.0

In [4]:
# 로그수익률 계산
rets = np.log(data / data.shift(1))
rets.head()

,google_keyword,kor_air,kt,lgchem,samsung_el,amoreg,kbbank,naver,miraedw,lotteshop,...,ottogi,kor_gas,kia_car,orion,hana_finan,posco,emart,wooribank,samsung_secu,isdongseo
2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,0.693147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-03,-0.405465,0.012999,-0.011875,0.034955,0.010471,0.028171,0.025494,-0.012954,0.035837,-0.006953,...,-0.006144,-0.014599,0.031155,-0.003210,0.017643,-0.017425,-0.005556,0.007905,0.011067,-0.019597
2017-01-04,0.405465,-0.001847,0.000000,0.024506,-0.008811,0.007905,0.010245,0.054547,0.039622,-0.025914,...,-0.009288,0.005238,0.013407,-0.001609,0.017337,-0.005877,-0.002789,0.000000,0.020234,-0.019989
2017-01-05,0.405465,0.012856,-0.003419,-0.003731,-0.016732,-0.007905,-0.031055,-0.023736,0.006246,0.018913,...,0.001554,-0.013677,-0.004854,0.019139,-0.012579,-0.027890,0.041045,-0.032003,0.006144,0.018824

In [5]:
# 상관계수 계산
df_corr = rets.corr()
df_corr.head()

,google_keyword,kor_air,kt,lgchem,samsung_el,amoreg,kbbank,naver,miraedw,lotteshop,...,ottogi,kor_gas,kia_car,orion,hana_finan,posco,emart,wooribank,samsung_secu,isdongseo
google_keyword,1.000000,-0.111434,0.029250,-0.122045,-0.054121,-0.047172,-0.053136,-0.085163,-0.002761,-0.203581,...,-0.100033,-0.023601,0.065840,-0.233884,-0.074396,-0.055167,-0.110117,0.010017,0.010277,0.051653
kor_air,-0.111434,1.000000,-0.111666,0.325385,0.042725,0.214808,0.217358,0.121995,0.397057,0.247698,...,0.103617,-0.132655,0.293122,0.015346,0.082994,0.243554,0.067065,0.041315,0.399919,0.060481
kt,0.029250,-0.111666,1.000000,-0.358566,-0.240456,-0.016807,-0.092820,0.119275,-0.161100,-0.182528,...,-0.092985,-0.062771,-0.130285,-0.126031,-0.063969,-0.166640,-0.085490,-0.168204,-0.138925,-0.003424
lgchem,-0.122045,0.325385,-0.358566,1.000000,0.183571,0.158304,0.268626,0.272179,0.505390,0.040877,...,0.144601,0.048199,0.356240,-0.035627,0.189320,0.426204,0.035282,0.230842,0.426615,0.094115
samsung_el,-0.054121,0.042725,-0.240456,0.183571,1.000000,-0.143927,0.258446,0.089432,0.180759,-0.021499,...,-0.204883,0.108250,-0.172184,-0.251099,0.192960,0.154158,-0.047211,0.100630,0.125691,0.132596

In [6]:
# 최종결과
def corr_bottom(code, bottom_cnt=-10):
     return df_corr[df_corr.index == code].T\
                 .sort_values(by=code, ascending=False)\
                 .ix[-bottom_cnt:]                  
corr_bottom('google_keyword', 30)

                google_keyword
google_keyword        1.000000
kia_car               0.065840
isdongseo             0.051653
kt                    0.029250
samsung_secu          0.010277
wooribank             0.010017
miraedw              -0.002761
kor_gas              -0.023601
amoreg               -0.047172
kbbank               -0.053136
samsung_el           -0.054121
posco                -0.055167
hana_finan           -0.074396
naver                -0.085163
soil                 -0.093631
ottogi               -0.100033
emart                -0.110117
kor_air              -0.111434
lgchem               -0.122045
lotteshop            -0.203581
orion                -0.233884

In [ ]:
''' 시사점

1. 구글트렌트 입력키워드 "사드"
   
  > 상관계수가 음의 방향(키워드 언급량과 완전히 반대 방향)으로 움직인 종목은 '오리온' '롯데쇼핑' 등 중국 매출 기업들로
    시장 참여자들이 '사드' 로 인해 어떤 기업이 피해를 입을 것이라고 판단했는지 확인 가능함
    반면, 상관계수가 양의 방향으로 움직인 종목은 사드와 관계없는 내수 관련 기업 'KT' '이마트' 등 이었음
      
  > BUT! 키워드 상관관계 결과값으로 모든 주가의 움직임을 설명할 수 있는 것은 아님을 유의


2. 비즈니스 아이디어 제안
  
  > 투자자가 특정 주제 또는 키워드로 투자 정보를 찾고자 할 때 유용한 Tool 
    
  > 국내에 "미세먼지 증가" 로 인한 상장기업 중 관계가 있는 종목을 한 눈에 확인할 수 있음
    다른 예로 반도체 호황이 오면 일반적으로 투자자들은 '삼성전자' 'SK하이닉스' 를 떠올리는데,
    반도체의 트렌드와 함께 하는 수혜 업종 또는 기업(부품, 장비, 유통)을 찾아낼 수도 있음
        
        
3. 프로그램 Version Update 필요
   
  > 종목 Pool 확대 필요 (거래소, 코스닥 등) : 데이터 불러올 때 block 되어서 일단 포기함..   
  > 시점 조정 : 구글트렌드는 주말에도 값이 나오지만, 일별 주가는 휴장일 데이터가 없음. 조정하여 정확도를 올려야 함      
  > 기타 차트 구성 및 편의 기능 추가 (업종, 차트, 해외주식 등)
      
'''